{% extends "base_cassandra.html" %}
{% block priceid %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="row" style="height:20vh;">
    <div class="col-md-4 col-md-offset-4">
        <form action="price" method="POST">
           <div class="form-group text-center">
                <h1>Prices</h1>
                <label style="font-weight:300; font-size:30px;">Germany vs. UK</label><br>
                <button type="submit" id="search_button" value="Send" name="priceid-container" class="btn btn-default id-submit">Start</button>
            </div>
        </form>
    </div>
</div>

<div class="container"  onload  = "JavaScript:AutoRefresh(1500);">
    <div class="starter-template">
        <div class="row" style="height:30vh;">
            <div class="col-md-10 col-md-offset-1">
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th>Stocks</th>
                            <th>German Price (€)</th>
                            <th>UK Price (from £ to €)</th>
                            <th>Absolute Difference (€)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for val in output %}
                        <tr>
                            <td>{{val.securitydesc}}</td>
                            <td> {{val.gerpr}}</td>
                            <td>{{val.ukpr}}</td>
                            <td>{{val.diffprices}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
   </div>
</div>

{% endblock %}
